/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

.react-icons {
  vertical-align: middle;
}

footer{
  position: absolute bottom;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #2F4F4F;
  color: white;
  text-align: center;
}